In [2]:
import pandas as pd 
import Bio
from Bio import SeqIO

In [68]:
def get_details(code): 
    
    if code == "G": 
        full_name = "Glycine"
        three_letter_code = "Gly"
        one_letter_code = "G"
        s_no = "1"
        side_chain = "nonpolar"
        overall = "NONPOLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 75.1
        
    elif code == "A":
        full_name = "Alanine"
        three_letter_code = "Ala"
        one_letter_code = "A"
        s_no = "2"
        side_chain = "nonpolar"
        overall = "NONPOLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 89.1
        
    elif code == "V":
        full_name = "Valine"
        three_letter_code = "Val"
        one_letter_code = "V"
        s_no = "3"
        side_chain = "nonpolar"
        overall = "NONPOLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 117.1
    
    elif code == "C":
        
        full_name = "Cysteine"
        three_letter_code = "Cys"
        one_letter_code = "C"
        s_no = "4"
        side_chain = "nonpolar"
        overall = "NONPOLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 121.2
        
    elif code == "P":
        full_name = "Proline"
        three_letter_code = "Pro"
        one_letter_code = "P"
        s_no = "5"
        side_chain = "nonpolar"
        overall = "NONPOLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 115.1
    
    elif code == "L":
        
        full_name = "Leucine"
        three_letter_code = "Leu"
        one_letter_code = "L"
        s_no = "6"
        side_chain = "nonpolar"
        overall = "NONPOLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 131.2
    
    elif code == "I":
        
        full_name = "Isoleucine"
        three_letter_code = "Isl"
        one_letter_code = "I"
        s_no = "7"
        side_chain = "nonpolar"
        overall = "NONPOLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 131.2
    
    elif code == "M":
        
        full_name = "Methonine"
        three_letter_code = "Met"
        one_letter_code = "M"
        s_no = "8"
        side_chain = "nonpolar"
        overall = "NONPOLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 149.2
    
    elif code == "W":
        
        full_name = "Tryptophan"
        three_letter_code = "Trp"
        one_letter_code = "W"
        s_no = "9"
        side_chain = "nonpolar"
        overall = "NONPOLAR AMINO ACIDS"
        aromaticity = "aromatic"
        molecular_weight = 204.2
    
    elif code == "F":
        
        full_name = "Phenylalanine"
        three_letter_code = "Phe"
        one_letter_code = "F"
        s_no = "10"
        side_chain = "nonpolar"
        overall = "NONPOLAR AMINO ACIDS"
        aromaticity = "aromatic"
        molecular_weight = 165.2
    
    elif code == "S":
        
        full_name = "Serine"
        three_letter_code = "Ser"
        one_letter_code = "S"
        s_no = "11"
        side_chain = "unchargedpolar"
        overall = "POLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 105.1
        
    
    elif code == "T":
        
        full_name = "Threonine"
        three_letter_code = "Thr"
        one_letter_code = "T"
        s_no = "12"
        side_chain = "unchargedpolar"
        overall = "POLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 119.1
    
    elif code == "Y":
        
        full_name = "Tyrosine"
        three_letter_code = "Tyr"
        one_letter_code = "Y"
        s_no = "13"
        side_chain = "unchargedpolar"
        overall = "POLAR AMINO ACIDS"
        aromaticity = "aromatic"
        molecular_weight = 181.2
        
    elif code == "N":
        
        full_name = "Asparagine"
        three_letter_code = "Asn"
        one_letter_code = "N"
        s_no = "14"
        side_chain = "unchargedpolar"
        overall = "POLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 132.1
         
    elif code == "Q":
        
        full_name = "Glutamine"
        three_letter_code = "Gln"
        one_letter_code = "Q"
        s_no = "15"
        side_chain = "unchargedpolar"
        overall = "POLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 146.2
    
    elif code == "K":
        
        full_name = "Lysine"
        three_letter_code = "Lys"
        one_letter_code = "K"
        s_no = "16"
        side_chain = "positivepolar"
        overall = "POLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 146.2
    
    elif code == "R":
        
        full_name = "Arginine"
        three_letter_code = "Arg"
        one_letter_code = "R"
        s_no = "17"
        side_chain = "positivepolar"
        overall = "POLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 174.2
    
    elif code == "H":
        
        full_name = "Histidine"
        three_letter_code = "His"
        one_letter_code = "H"
        s_no = "18"
        side_chain = "positivepolar"
        overall = "POLAR AMINO ACIDS"
        aromaticity = "aromatic"
        molecular_weight = 155.2
    
    elif code == "D":
        
        full_name = "Aspartic Acid"
        three_letter_code = "Asp"
        one_letter_code = "D"
        s_no = "19"
        side_chain = "negativepolar"
        overall = "POLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 133.1
    
    elif code == "E":
        
        full_name = "Glutamic Acid"
        three_letter_code = "Glu"
        one_letter_code = "E"
        s_no = "20"
        side_chain = "negativepolar"
        overall = "POLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 147.1
        
    des = (
        f'Number: {s_no}\n'
        f'Name: {full_name}\n'
        f'Three letter code: {three_letter_code}\n'
        f'One letter code: {one_letter_code}\n'
        f'side chain property: {side_chain}\n'
        f'Overall: {overall}\n'
        f'Aromaticity: {aromaticity}\n'
        f'M.W (g/mol) : {molecular_weight}'
            
        )
#     print(des)
    
    return (full_name, three_letter_code, one_letter_code, s_no, side_chain, overall, aromaticity, molecular_weight)


def get_short_name(code):
    my_list = []
    my_list = get_details(code)
    return my_list[1]

def get_side_chain(code):
    my_list = []
    my_list = get_details(code)
    return my_list[4]

def get_aromaticity(code):
    my_list = []
    my_list = get_details(code)
    return my_list[6]

def get_molecular_weight(code):
    my_list = []
    my_list = get_details(code)
    return my_list[7]

In [69]:
get_details('S')

('Serine',
 'Ser',
 'S',
 '11',
 'unchargedpolar',
 'POLAR AMINO ACIDS',
 'nonaromatic',
 105.1)

In [70]:
get_short_name('S')

'Ser'

In [45]:
get_side_chain('S')

'unchargedpolar'

In [46]:
get_aromaticity('S')

'nonaromatic'

In [47]:
get_molecular_weight('S')

105.1

In [71]:
def get_seq_details(seq):
    
    df = pd.DataFrame(columns = ['position', 'code', 'short_name', 'polarity', 
                                   'aromaticity', 'molecular_weight'])
    
#     df
    
    for i in range(len(seq)): 
        
#         print(i+1, seq[i], get_short_name(seq[i]),
#               get_side_chain(seq[i]), get_aromaticity(seq[i]), 
#               get_molecular_weight(seq[i])
#              )
        
        a = {'position' : i+1, 
             'code' : seq[i],
             'short_name' : get_short_name(seq[i]), 
             'polarity' : get_side_chain(seq[i]),
             'aromaticity' : get_aromaticity(seq[i]), 
             'molecular_weight' : get_molecular_weight(seq[i])
        }
    
        df = df.append(a, ignore_index = True)
        
    return df

In [72]:
def get_protein_summary(seq_df):
    
    df = pd.DataFrame(columns = ['nonpolar', 'polar', 'positivepolar', 'negativepolar', 'unchargedpolar', 
                                 'G', 'A', 'V', 'C', 'P', 'L', 'I', 'M', 'W', 'F',
                                 'S', 'T', 'Y', 'N', 'Q',
                                 'K','R','H', 
                                 'D', 'E',
                                 'sum_all', 'aromatic', 'nonaromatic'
                                ])

    seq_details_df = seq_df

    nonpolar = (seq_details_df.polarity == 'nonpolar').sum()/seq_details_df.shape[0] * 100
    polar = ((seq_details_df.polarity == 'positivepolar')| (seq_details_df.polarity == 'negativepolar') | (seq_details_df.polarity == 'unchargedpolar')).sum()/seq_details_df.shape[0] * 100
    positivepolar = (seq_details_df.polarity == 'positivepolar').sum()/seq_details_df.shape[0] * 100
    negativepolar = (seq_details_df.polarity == 'negativepolar').sum()/seq_details_df.shape[0] * 100
    unchargedpolar = (seq_details_df.polarity == 'unchargedpolar').sum()/seq_details_df.shape[0] * 100

    G = (seq_details_df.code == 'G').sum()/seq_details_df.shape[0]*100
    A = (seq_details_df.code == 'A').sum()/seq_details_df.shape[0]*100
    V = (seq_details_df.code == 'V').sum()/seq_details_df.shape[0]*100
    C = (seq_details_df.code == 'C').sum()/seq_details_df.shape[0]*100
    P = (seq_details_df.code == 'P').sum()/seq_details_df.shape[0]*100
    L = (seq_details_df.code == 'L').sum()/seq_details_df.shape[0]*100
    I = (seq_details_df.code == 'I').sum()/seq_details_df.shape[0]*100
    M = (seq_details_df.code == 'M').sum()/seq_details_df.shape[0]*100
    W = (seq_details_df.code == 'W').sum()/seq_details_df.shape[0]*100
    F = (seq_details_df.code == 'F').sum()/seq_details_df.shape[0]*100
    S = (seq_details_df.code == 'S').sum()/seq_details_df.shape[0]*100
    T = (seq_details_df.code == 'T').sum()/seq_details_df.shape[0]*100
    Y = (seq_details_df.code == 'Y').sum()/seq_details_df.shape[0]*100
    N = (seq_details_df.code == 'N').sum()/seq_details_df.shape[0]*100
    Q = (seq_details_df.code == 'Q').sum()/seq_details_df.shape[0]*100
    K = (seq_details_df.code == 'K').sum()/seq_details_df.shape[0]*100
    R = (seq_details_df.code == 'R').sum()/seq_details_df.shape[0]*100
    H = (seq_details_df.code == 'H').sum()/seq_details_df.shape[0]*100
    D = (seq_details_df.code == 'D').sum()/seq_details_df.shape[0]*100
    E = (seq_details_df.code == 'E').sum()/seq_details_df.shape[0]*100

    sum_all = (G + A + V + C + P + L + I + M + W + F +
               S + T + Y + N + Q +
               K + R + H +
               D + E)

    aromatic = W + F + Y + H 
    nonaromatic = sum_all - aromatic

    all_dict = {
        'nonpolar': nonpolar,
        'polar' : polar,
        'positivepolar' : positivepolar, 
        'negativepolar' : negativepolar, 
        'unchargedpolar' : unchargedpolar,
        'G' : G, 'A' : A, 'V' : V, 'C' : C, 'P' : P, 'L' : L, 'I' : I, 'M' : M, 'W' : W, 
        'F' : F, 'S' : S, 'T' : T, 'Y' : Y, 'N' : N, 'Q' : Q,
        'K' : K, 'R' : R, 'H' : H, 'D' : D, 'E' : E,
        'sum_all': sum_all, 
        'aromatic' : aromatic,
        'nonaromatic' : nonaromatic
    }

    df = df.append(all_dict, ignore_index = True)
        
    return df

In [73]:
seq3 = "KEFVRFD"
seq = "PHSMRYFETAVSRPGLEEPRYISVGYVDNKEFVRFDSDAENPRYEPRAPWMEQEGPEYWERETQKAKGQEQWFRVSLRNLLGYYNQSAGGSHTLQQMSGCDLGSDWRLLRGYLQFAYEGRDYIALNEDLKTWTAADMAAQITRRKWEQSGAAEHYKAYLEGECVEWLHRYLKNGNATLLRTDSPKAHVTHHPRSKGEVTLRCWALGFYPADITLTWQLNGEELTQDMELVETRPAGDGTFQKWASVVVPLGKEQNYTCRVYHEGLPEPLTLRW"
pro_1_df = get_seq_details(seq)
pro_1_df

    position code short_name        polarity  aromaticity  molecular_weight
0          1    P        Pro        nonpolar  nonaromatic             115.1
1          2    H        His   positivepolar     aromatic             155.2
2          3    S        Ser  unchargedpolar  nonaromatic             105.1
3          4    M        Met        nonpolar  nonaromatic             149.2
4          5    R        Arg   positivepolar  nonaromatic             174.2
..       ...  ...        ...             ...          ...               ...
268      269    L        Leu        nonpolar  nonaromatic             131.2
269      270    T        Thr  unchargedpolar  nonaromatic             119.1
270      271    L        Leu        nonpolar  nonaromatic             131.2
271      272    R        Arg   positivepolar  nonaromatic             174.2
272      273    W        Trp        nonpolar     aromatic             204.2

[273 rows x 6 columns]

In [74]:
get_protein_summary(pro_1_df)

,nonpolar,polar,positivepolar,negativepolar,unchargedpolar,G,A,V,C,P,...,N,Q,K,R,H,D,E,sum_all,aromatic,nonaromatic
0,45.787546,54.212454,14.652015,14.285714,25.274725,7.692308,7.326007,4.761905,1.465201,5.128205,...,3.296703,5.128205,4.029304,7.692308,2.930403,4.395604,9.89011,100.0,15.384615,84.615385

In [75]:
helix_1  = seq[48-1 : 54]
helix_1
helix_1_df = get_seq_details(helix_1)
helix_1_df

  position code short_name        polarity  aromaticity  molecular_weight
0        1    A        Ala        nonpolar  nonaromatic              89.1
1        2    P        Pro        nonpolar  nonaromatic             115.1
2        3    W        Trp        nonpolar     aromatic             204.2
3        4    M        Met        nonpolar  nonaromatic             149.2
4        5    E        Glu   negativepolar  nonaromatic             147.1
5        6    Q        Gln  unchargedpolar  nonaromatic             146.2
6        7    E        Glu   negativepolar  nonaromatic             147.1

In [76]:
get_protein_summary(helix_1_df)

,nonpolar,polar,positivepolar,negativepolar,unchargedpolar,G,A,V,C,P,...,N,Q,K,R,H,D,E,sum_all,aromatic,nonaromatic
0,57.142857,42.857143,0.0,28.571429,14.285714,0.0,14.285714,0.0,0.0,14.285714,...,0.0,14.285714,0.0,0.0,0.0,0.0,28.571429,100.0,14.285714,85.714286

In [77]:
helix_2 = seq[55-1:84]
helix_2
helix_2_df = get_seq_details(helix_2)
helix_2_df

   position code short_name        polarity  aromaticity  molecular_weight
0         1    G        Gly        nonpolar  nonaromatic              75.1
1         2    P        Pro        nonpolar  nonaromatic             115.1
2         3    E        Glu   negativepolar  nonaromatic             147.1
3         4    Y        Tyr  unchargedpolar     aromatic             181.2
4         5    W        Trp        nonpolar     aromatic             204.2
5         6    E        Glu   negativepolar  nonaromatic             147.1
6         7    R        Arg   positivepolar  nonaromatic             174.2
7         8    E        Glu   negativepolar  nonaromatic             147.1
8         9    T        Thr  unchargedpolar  nonaromatic             119.1
9        10    Q        Gln  unchargedpolar  nonaromatic             146.2
10       11    K        Lys   positivepolar  nonaromatic             146.2
11       12    A        Ala        nonpolar  nonaromatic              89.1
12       13    K        Lys   positivepolar  nonaromatic             146.2
13       14    G        Gly        nonpolar  nonaromatic              75.1
14       15    Q        Gln  unchargedpolar  nonaromatic             146.2
15       16    E        Glu   negativepolar  nonaromatic             147.1
16       17    Q        Gln  unchargedpolar  nonaromatic             146.2
17       18    W        Trp        nonpolar     aromatic             204.2
18       19    F        Phe        nonpolar     aromatic             165.2
19       20    R        Arg   positivepolar  nonaromatic             174.2
20       21    V        Val        nonpolar  nonaromatic             117.1
21       22    S        Ser  unchargedpolar  nonaromatic             105.1
22       23    L        Leu        nonpolar  nonaromatic             131.2
23       24    R        Arg   positivepolar  nonaromatic             174.2
24       25    N        Asn  unchargedpolar  nonaromatic             132.1
25       26    L        Leu        nonpolar  nonaromatic             131.2
26       27    L        Leu        nonpolar  nonaromatic             131.2
27       28    G        Gly        nonpolar  nonaromatic              75.1
28       29    Y        Tyr  unchargedpolar     aromatic             181.2
29       30    Y        Tyr  unchargedpolar     aromatic             181.2

In [78]:
get_protein_summary(helix_2_df)

,nonpolar,polar,positivepolar,negativepolar,unchargedpolar,G,A,V,C,P,...,N,Q,K,R,H,D,E,sum_all,aromatic,nonaromatic
0,40.0,60.0,16.666667,13.333333,30.0,10.0,3.333333,3.333333,0.0,3.333333,...,3.333333,10.0,6.666667,10.0,0.0,0.0,13.333333,100.0,20.0,80.0

In [79]:
helix_3 = seq[136 - 1 : 150]
print (helix_3)
helix_3_df = get_seq_details(helix_3)
helix_3_df

DMAAQITRRKWEQSG

   position code short_name        polarity  aromaticity  molecular_weight
0         1    D        Asp   negativepolar  nonaromatic             133.1
1         2    M        Met        nonpolar  nonaromatic             149.2
2         3    A        Ala        nonpolar  nonaromatic              89.1
3         4    A        Ala        nonpolar  nonaromatic              89.1
4         5    Q        Gln  unchargedpolar  nonaromatic             146.2
5         6    I        Isl        nonpolar  nonaromatic             131.2
6         7    T        Thr  unchargedpolar  nonaromatic             119.1
7         8    R        Arg   positivepolar  nonaromatic             174.2
8         9    R        Arg   positivepolar  nonaromatic             174.2
9        10    K        Lys   positivepolar  nonaromatic             146.2
10       11    W        Trp        nonpolar     aromatic             204.2
11       12    E        Glu   negativepolar  nonaromatic             147.1
12       13    Q        Gln  unchargedpolar  nonaromatic             146.2
13       14    S        Ser  unchargedpolar  nonaromatic             105.1
14       15    G        Gly        nonpolar  nonaromatic              75.1

In [80]:
get_protein_summary(helix_3_df)

,nonpolar,polar,positivepolar,negativepolar,unchargedpolar,G,A,V,C,P,...,N,Q,K,R,H,D,E,sum_all,aromatic,nonaromatic
0,40.0,60.0,20.0,13.333333,26.666667,6.666667,13.333333,0.0,0.0,0.0,...,0.0,13.333333,6.666667,13.333333,0.0,6.666667,6.666667,100.0,6.666667,93.333333

In [81]:
helix_4 = seq[150-1 : 161]
helix_4 

helix_4_df = get_seq_details(helix_4)
helix_4_df

   position code short_name        polarity  aromaticity  molecular_weight
0         1    G        Gly        nonpolar  nonaromatic              75.1
1         2    A        Ala        nonpolar  nonaromatic              89.1
2         3    A        Ala        nonpolar  nonaromatic              89.1
3         4    E        Glu   negativepolar  nonaromatic             147.1
4         5    H        His   positivepolar     aromatic             155.2
5         6    Y        Tyr  unchargedpolar     aromatic             181.2
6         7    K        Lys   positivepolar  nonaromatic             146.2
7         8    A        Ala        nonpolar  nonaromatic              89.1
8         9    Y        Tyr  unchargedpolar     aromatic             181.2
9        10    L        Leu        nonpolar  nonaromatic             131.2
10       11    E        Glu   negativepolar  nonaromatic             147.1
11       12    G        Gly        nonpolar  nonaromatic              75.1

In [82]:
get_protein_summary(helix_4_df)

,nonpolar,polar,positivepolar,negativepolar,unchargedpolar,G,A,V,C,P,...,N,Q,K,R,H,D,E,sum_all,aromatic,nonaromatic
0,50.0,50.0,16.666667,16.666667,16.666667,16.666667,25.0,0.0,0.0,0.0,...,0.0,0.0,8.333333,0.0,8.333333,0.0,16.666667,100.0,25.0,75.0

In [83]:
helix_5 = seq[161 - 1 : 173]
helix_5

helix_5_df = get_seq_details(helix_5)
helix_5_df

   position code short_name        polarity  aromaticity  molecular_weight
0         1    G        Gly        nonpolar  nonaromatic              75.1
1         2    E        Glu   negativepolar  nonaromatic             147.1
2         3    C        Cys        nonpolar  nonaromatic             121.2
3         4    V        Val        nonpolar  nonaromatic             117.1
4         5    E        Glu   negativepolar  nonaromatic             147.1
5         6    W        Trp        nonpolar     aromatic             204.2
6         7    L        Leu        nonpolar  nonaromatic             131.2
7         8    H        His   positivepolar     aromatic             155.2
8         9    R        Arg   positivepolar  nonaromatic             174.2
9        10    Y        Tyr  unchargedpolar     aromatic             181.2
10       11    L        Leu        nonpolar  nonaromatic             131.2
11       12    K        Lys   positivepolar  nonaromatic             146.2
12       13    N        Asn  unchargedpolar  nonaromatic             132.1

In [84]:
get_protein_summary(helix_5_df)

,nonpolar,polar,positivepolar,negativepolar,unchargedpolar,G,A,V,C,P,...,N,Q,K,R,H,D,E,sum_all,aromatic,nonaromatic
0,46.153846,53.846154,23.076923,15.384615,15.384615,7.692308,0.0,7.692308,7.692308,0.0,...,7.692308,0.0,7.692308,7.692308,7.692308,0.0,15.384615,100.0,23.076923,76.923077

In [130]:
helix_list = [helix_1, helix_2, helix_3, helix_4, helix_5]
print(helix_list)

helix_summary = pd.DataFrame(columns = ['nonpolar', 'polar', 'positivepolar', 'negativepolar', 'unchargedpolar', 
                                 'G', 'A', 'V', 'C', 'P', 'L', 'I', 'M', 'W', 'F',
                                 'S', 'T', 'Y', 'N', 'Q',
                                 'K','R','H', 
                                 'D', 'E',
                                 'sum_all', 'aromatic', 'nonaromatic'
                                ])

for i in range(len(helix_list)):
    seq_details = get_seq_details(helix_list[i])
#     print(seq_details)
#     print('\n')
    helix_summary = helix_summary.append(get_protein_summary(seq_details))

['APWMEQE', 'GPEYWERETQKAKGQEQWFRVSLRNLLGYY', 'DMAAQITRRKWEQSG', 'GAAEHYKAYLEG', 'GECVEWLHRYLKN']

In [131]:
helix_summary.iloc[ : , 5:25]

,G,A,V,C,P,L,I,M,W,F,S,T,Y,N,Q,K,R,H,D,E
0,0.000000,14.285714,0.000000,0.000000,14.285714,0.000000,0.000000,14.285714,14.285714,0.000000,0.000000,0.000000,0.000000,0.000000,14.285714,0.000000,0.000000,0.000000,0.000000,28.571429
0,10.000000,3.333333,3.333333,0.000000,3.333333,10.000000,0.000000,0.000000,6.666667,3.333333,3.333333,3.333333,10.000000,3.333333,10.000000,6.666667,10.000000,0.000000,0.000000,13.333333
0,6.666667,13.333333,0.000000,0.000000,0.000000,0.000000,6.666667,6.666667,6.666667,0.000000,6.666667,6.666667,0.000000,0.000000,13.333333,6.666667,13.333333,0.000000,6.666667,6.666667
0,16.666667,25.000000,0.000000,0.000000,0.000000,8.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,16.666667,0.000000,0.000000,8.333333,0.000000,8.333333,0.000000,16.666667
0,7.692308,0.000000,7.692308,7.692308,0.000000,15.384615,0.000000,0.000000,7.692308,0.000000,0.000000,0.000000,7.692308,7.692308,0.000000,7.692308,7.692308,7.692308,0.000000,15.384615

In [85]:
strand_1 = seq[2-1:11]
strand_1

strand_1_df = get_seq_details(strand_1)
strand_1_df

  position code short_name        polarity  aromaticity  molecular_weight
0        1    H        His   positivepolar     aromatic             155.2
1        2    S        Ser  unchargedpolar  nonaromatic             105.1
2        3    M        Met        nonpolar  nonaromatic             149.2
3        4    R        Arg   positivepolar  nonaromatic             174.2
4        5    Y        Tyr  unchargedpolar     aromatic             181.2
5        6    F        Phe        nonpolar     aromatic             165.2
6        7    E        Glu   negativepolar  nonaromatic             147.1
7        8    T        Thr  unchargedpolar  nonaromatic             119.1
8        9    A        Ala        nonpolar  nonaromatic              89.1
9       10    V        Val        nonpolar  nonaromatic             117.1

In [86]:
strand_2 = seq[20-1:27]
strand_2

strand_2_df = get_seq_details(strand_2)
strand_2_df

  position code short_name        polarity  aromaticity  molecular_weight
0        1    R        Arg   positivepolar  nonaromatic             174.2
1        2    Y        Tyr  unchargedpolar     aromatic             181.2
2        3    I        Isl        nonpolar  nonaromatic             131.2
3        4    S        Ser  unchargedpolar  nonaromatic             105.1
4        5    V        Val        nonpolar  nonaromatic             117.1
5        6    G        Gly        nonpolar  nonaromatic              75.1
6        7    Y        Tyr  unchargedpolar     aromatic             181.2
7        8    V        Val        nonpolar  nonaromatic             117.1

In [87]:
strand_3 = seq[30-1:36]
strand_3

strand_3_df = get_seq_details(strand_3)
strand_3_df

  position code short_name       polarity  aromaticity  molecular_weight
0        1    K        Lys  positivepolar  nonaromatic             146.2
1        2    E        Glu  negativepolar  nonaromatic             147.1
2        3    F        Phe       nonpolar     aromatic             165.2
3        4    V        Val       nonpolar  nonaromatic             117.1
4        5    R        Arg  positivepolar  nonaromatic             174.2
5        6    F        Phe       nonpolar     aromatic             165.2
6        7    D        Asp  negativepolar  nonaromatic             133.1

In [88]:
strand_4 = seq[45-1:46]
strand_4

strand_4_df = get_seq_details(strand_4)
strand_4_df

  position code short_name       polarity  aromaticity  molecular_weight
0        1    E        Glu  negativepolar  nonaromatic             147.1
1        2    P        Pro       nonpolar  nonaromatic             115.1

In [89]:
strand_5 = seq[93-1: 102]
strand_5

strand_5_df = get_seq_details(strand_5)
strand_5_df

  position code short_name        polarity  aromaticity  molecular_weight
0        1    T        Thr  unchargedpolar  nonaromatic             119.1
1        2    L        Leu        nonpolar  nonaromatic             131.2
2        3    Q        Gln  unchargedpolar  nonaromatic             146.2
3        4    Q        Gln  unchargedpolar  nonaromatic             146.2
4        5    M        Met        nonpolar  nonaromatic             149.2
5        6    S        Ser  unchargedpolar  nonaromatic             105.1
6        7    G        Gly        nonpolar  nonaromatic              75.1
7        8    C        Cys        nonpolar  nonaromatic             121.2
8        9    D        Asp   negativepolar  nonaromatic             133.1
9       10    L        Leu        nonpolar  nonaromatic             131.2

In [90]:
strand_6 = seq[108-1:117]
strand_6

strand_6_df = get_seq_details(strand_6)
strand_6_df

  position code short_name        polarity  aromaticity  molecular_weight
0        1    L        Leu        nonpolar  nonaromatic             131.2
1        2    L        Leu        nonpolar  nonaromatic             131.2
2        3    R        Arg   positivepolar  nonaromatic             174.2
3        4    G        Gly        nonpolar  nonaromatic              75.1
4        5    Y        Tyr  unchargedpolar     aromatic             181.2
5        6    L        Leu        nonpolar  nonaromatic             131.2
6        7    Q        Gln  unchargedpolar  nonaromatic             146.2
7        8    F        Phe        nonpolar     aromatic             165.2
8        9    A        Ala        nonpolar  nonaromatic              89.1
9       10    Y        Tyr  unchargedpolar     aromatic             181.2

In [91]:
strand_7 = seq[120-1:125]
strand_7

strand_7_df = get_seq_details(strand_7)
strand_7_df

  position code short_name        polarity  aromaticity  molecular_weight
0        1    R        Arg   positivepolar  nonaromatic             174.2
1        2    D        Asp   negativepolar  nonaromatic             133.1
2        3    Y        Tyr  unchargedpolar     aromatic             181.2
3        4    I        Isl        nonpolar  nonaromatic             131.2
4        5    A        Ala        nonpolar  nonaromatic              89.1
5        6    L        Leu        nonpolar  nonaromatic             131.2

In [92]:
strand_8 = seq[132-1:134]
strand_8

strand_8_df = get_seq_details(strand_8)
strand_8_df

  position code short_name        polarity  aromaticity  molecular_weight
0        1    W        Trp        nonpolar     aromatic             204.2
1        2    T        Thr  unchargedpolar  nonaromatic             119.1
2        3    A        Ala        nonpolar  nonaromatic              89.1

In [93]:
strand_9 = seq[185-1:192]
strand_9

strand_9_df = get_seq_details(strand_9)
strand_9_df

  position code short_name        polarity  aromaticity  molecular_weight
0        1    K        Lys   positivepolar  nonaromatic             146.2
1        2    A        Ala        nonpolar  nonaromatic              89.1
2        3    H        His   positivepolar     aromatic             155.2
3        4    V        Val        nonpolar  nonaromatic             117.1
4        5    T        Thr  unchargedpolar  nonaromatic             119.1
5        6    H        His   positivepolar     aromatic             155.2
6        7    H        His   positivepolar     aromatic             155.2
7        8    P        Pro        nonpolar  nonaromatic             115.1

In [94]:
strand_10 = seq[198-1:207]
strand_10

strand_10_df = get_seq_details(strand_10)
strand_10_df

  position code short_name        polarity  aromaticity  molecular_weight
0        1    V        Val        nonpolar  nonaromatic             117.1
1        2    T        Thr  unchargedpolar  nonaromatic             119.1
2        3    L        Leu        nonpolar  nonaromatic             131.2
3        4    R        Arg   positivepolar  nonaromatic             174.2
4        5    C        Cys        nonpolar  nonaromatic             121.2
5        6    W        Trp        nonpolar     aromatic             204.2
6        7    A        Ala        nonpolar  nonaromatic              89.1
7        8    L        Leu        nonpolar  nonaromatic             131.2
8        9    G        Gly        nonpolar  nonaromatic              75.1
9       10    F        Phe        nonpolar     aromatic             165.2

In [95]:
strand_11 = seq[213-1:215]
strand_11

strand_11_df = get_seq_details(strand_11)
strand_11_df

  position code short_name        polarity  aromaticity  molecular_weight
0        1    T        Thr  unchargedpolar  nonaromatic             119.1
1        2    L        Leu        nonpolar  nonaromatic             131.2
2        3    T        Thr  unchargedpolar  nonaromatic             119.1

In [96]:
strand_12 = seq[228-1:229]
strand_12

strand_12_df = get_seq_details(strand_12)
strand_12_df

  position code short_name       polarity  aromaticity  molecular_weight
0        1    E        Glu  negativepolar  nonaromatic             147.1
1        2    L        Leu       nonpolar  nonaromatic             131.2

In [97]:
strand_13 = seq[233-1:234]
strand_13

strand_13_df = get_seq_details(strand_13)
strand_13_df

  position code short_name       polarity  aromaticity  molecular_weight
0        1    R        Arg  positivepolar  nonaromatic             174.2
1        2    P        Pro       nonpolar  nonaromatic             115.1

In [98]:
strand_14 = seq[240-1:248]
strand_14

strand_14_df = get_seq_details(strand_14)
strand_14_df

  position code short_name        polarity  aromaticity  molecular_weight
0        1    F        Phe        nonpolar     aromatic             165.2
1        2    Q        Gln  unchargedpolar  nonaromatic             146.2
2        3    K        Lys   positivepolar  nonaromatic             146.2
3        4    W        Trp        nonpolar     aromatic             204.2
4        5    A        Ala        nonpolar  nonaromatic              89.1
5        6    S        Ser  unchargedpolar  nonaromatic             105.1
6        7    V        Val        nonpolar  nonaromatic             117.1
7        8    V        Val        nonpolar  nonaromatic             117.1
8        9    V        Val        nonpolar  nonaromatic             117.1

In [99]:
strand_15 = seq[258-1:261]
strand_15

strand_15_df = get_seq_details(strand_15)
strand_15_df

  position code short_name        polarity  aromaticity  molecular_weight
0        1    C        Cys        nonpolar  nonaromatic             121.2
1        2    R        Arg   positivepolar  nonaromatic             174.2
2        3    V        Val        nonpolar  nonaromatic             117.1
3        4    Y        Tyr  unchargedpolar     aromatic             181.2

In [100]:
strand_16 = seq[269-1:271]
strand_16

strand_16_df = get_seq_details(strand_16)
strand_16_df

  position code short_name        polarity  aromaticity  molecular_weight
0        1    L        Leu        nonpolar  nonaromatic             131.2
1        2    T        Thr  unchargedpolar  nonaromatic             119.1
2        3    L        Leu        nonpolar  nonaromatic             131.2

In [120]:
strand_list = [strand_1, strand_2, strand_3, strand_4, strand_5, 
              strand_6, strand_7, strand_8, strand_9, strand_10, 
              strand_11, strand_12, strand_13, strand_14, strand_15, strand_16]

print(strand_list)

strand_summary = pd.DataFrame(columns = ['nonpolar', 'polar', 'positivepolar', 'negativepolar', 'unchargedpolar', 
                                 'G', 'A', 'V', 'C', 'P', 'L', 'I', 'M', 'W', 'F',
                                 'S', 'T', 'Y', 'N', 'Q',
                                 'K','R','H', 
                                 'D', 'E',
                                 'sum_all', 'aromatic', 'nonaromatic'
                                ])

for i in range(len(strand_list)):
    seq_details = get_seq_details(strand_list[i])
#     print(seq_details)
#     print('\n')
    strand_summary = strand_summary.append(get_protein_summary(seq_details))

['HSMRYFETAV', 'RYISVGYV', 'KEFVRFD', 'EP', 'TLQQMSGCDL', 'LLRGYLQFAY', 'RDYIAL', 'WTA', 'KAHVTHHP', 'VTLRCWALGF', 'TLT', 'EL', 'RP', 'FQKWASVVV', 'CRVY', 'LTL']

In [122]:
strand_summary

,nonpolar,polar,positivepolar,negativepolar,unchargedpolar,G,A,V,C,P,...,N,Q,K,R,H,D,E,sum_all,aromatic,nonaromatic
0,40.000000,60.000000,20.000000,10.000000,30.000000,0.0,10.000000,10.000000,0.0,0.0,...,0.0,0.000000,0.000000,10.000000,10.0,0.000000,10.000000,100.0,30.000000,70.000000
0,50.000000,50.000000,12.500000,0.000000,37.500000,12.5,0.000000,25.000000,0.0,0.0,...,0.0,0.000000,0.000000,12.500000,0.0,0.000000,0.000000,100.0,25.000000,75.000000
0,42.857143,57.142857,28.571429,28.571429,0.000000,0.0,0.000000,14.285714,0.0,0.0,...,0.0,0.000000,14.285714,14.285714,0.0,14.285714,14.285714,100.0,28.571429,71.428571
0,50.000000,50.000000,0.000000,50.000000,0.000000,0.0,0.000000,0.000000,0.0,50.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,50.000000,100.0,0.000000,100.000000
0,50.000000,50.000000,0.000000,10.000000,40.000000,10.0,0.000000,0.000000,10.0,0.0,...,0.0,20.000000,0.000000,0.000000,0.0,10.000000,0.000000,100.0,0.000000,100.000000
0,60.000000,40.000000,10.000000,0.000000,30.000000,10.0,10.000000,0.000000,0.0,0.0,...,0.0,10.000000,0.000000,10.000000,0.0,0.000000,0.000000,100.0,30.000000,70.000000
0,50.000000,50.000000,16.666667,16.666667,16.666667,0.0,16.666667,0.000000,0.0,0.0,...,0.0,0.000000,0.000000,16.666667,0.0,16.666667,0.000000,100.0,16.666667,83.333333
0,66.666667,33.333333,0.000000,0.000000,33.333333,0.0,33.333333,0.000000,0.0,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,100.0,33.333333,66.666667
0,37.500000,62.500000,50.000000,0.000000,12.500000,0.0,12.500000,12.500000,0.0,12.5,...,0.0,0.000000,12.500000,0.000000,37.5,0.000000,0.000000,100.0,37.500000,62.500000
0,80.000000,20.000000,10.000000,0.000000,10.000000,10.0,10.000000,10.000000,10.0,0.0,...,0.0,0.000000,0.000000,10.000000,0.0,0.000000,0.000000,100.0,20.000000,80.000000
0,33.333333,66.666667,0.000000,0.000000,66.666667,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,100.0,0.000000,100.000000
0,50.000000,50.000000,0.000000,50.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,50.000000,100.0,0.000000,100.000000
0,50.000000,50.000000,50.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,50.0,...,0.0,0.000000,0.000000,50.000000,0.0,0.000000,0.000000,100.0,0.000000,100.000000
0,66.666667,33.333333,11.111111,0.000000,22.222222,0.0,11.111111,33.333333,0.0,0.0,...,0.0,11.111111,11.111111,0.000000,0.0,0.000000,0.000000,100.0,22.222222,77.777778
0,50.000000,50.000000,25.000000,0.000000,25.000000,0.0,0.000000,25.000000,25.0,0.0,...,0.0,0.000000,0.000000,25.000000,0.0,0.000000,0.000000,100.0,25.000000,75.000000
0,66.666667,33.333333,0.000000,0.000000,33.333333,0.0,0.000000,0.000000,0.0,0.0,...,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,100.0,0.000000,100.000000

# Q.1 Why do beta-sheet form? 

# Q.2 Why do Helix form? 
question is worth asking why helix form in the first place, what drives it is there a biological reason? efficiency in term of performing various tasks? binding site? 

# What initiates the formation of helix or beta sheets? 

# What role does amino acid residue provide in the folding of protein ? 

# Role of length of sequence ? 

# Does seq is the sole container of protein folding information? 


# Structure --> Fuction or Function --> Structure