In [1]:
import pandas as pd 
import Bio
from Bio import SeqIO

In [2]:
def get_details(code): 
    
    if code == "G": 
        full_name = "Glycine"
        three_letter_code = "Gly"
        one_letter_code = "G"
        s_no = "1"
        side_chain = "nonpolar"
        overall = "NONPOLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 75.1
        
    elif code == "A":
        full_name = "Alanine"
        three_letter_code = "Ala"
        one_letter_code = "A"
        s_no = "2"
        side_chain = "nonpolar"
        overall = "NONPOLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 89.1
        
    elif code == "V":
        full_name = "Valine"
        three_letter_code = "Val"
        one_letter_code = "V"
        s_no = "3"
        side_chain = "nonpolar"
        overall = "NONPOLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 117.1
    
    elif code == "C":
        
        full_name = "Cysteine"
        three_letter_code = "Cys"
        one_letter_code = "C"
        s_no = "4"
        side_chain = "nonpolar"
        overall = "NONPOLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 121.2
        
    elif code == "P":
        full_name = "Proline"
        three_letter_code = "Pro"
        one_letter_code = "P"
        s_no = "5"
        side_chain = "nonpolar"
        overall = "NONPOLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 115.1
    
    elif code == "L":
        
        full_name = "Leucine"
        three_letter_code = "Leu"
        one_letter_code = "L"
        s_no = "6"
        side_chain = "nonpolar"
        overall = "NONPOLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 131.2
    
    elif code == "I":
        
        full_name = "Isoleucine"
        three_letter_code = "Isl"
        one_letter_code = "I"
        s_no = "7"
        side_chain = "nonpolar"
        overall = "NONPOLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 131.2
    
    elif code == "M":
        
        full_name = "Methonine"
        three_letter_code = "Met"
        one_letter_code = "M"
        s_no = "8"
        side_chain = "nonpolar"
        overall = "NONPOLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 149.2
    
    elif code == "W":
        
        full_name = "Tryptophan"
        three_letter_code = "Trp"
        one_letter_code = "W"
        s_no = "9"
        side_chain = "nonpolar"
        overall = "NONPOLAR AMINO ACIDS"
        aromaticity = "aromatic"
        molecular_weight = 204.2
    
    elif code == "F":
        
        full_name = "Phenylalanine"
        three_letter_code = "Phe"
        one_letter_code = "F"
        s_no = "10"
        side_chain = "nonpolar"
        overall = "NONPOLAR AMINO ACIDS"
        aromaticity = "aromatic"
        molecular_weight = 165.2
    
    elif code == "S":
        
        full_name = "Serine"
        three_letter_code = "Ser"
        one_letter_code = "S"
        s_no = "11"
        side_chain = "unchargedpolar"
        overall = "POLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 105.1
        
    
    elif code == "T":
        
        full_name = "Threonine"
        three_letter_code = "Thr"
        one_letter_code = "T"
        s_no = "12"
        side_chain = "unchargedpolar"
        overall = "POLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 119.1
    
    elif code == "Y":
        
        full_name = "Tyrosine"
        three_letter_code = "Tyr"
        one_letter_code = "Y"
        s_no = "13"
        side_chain = "unchargedpolar"
        overall = "POLAR AMINO ACIDS"
        aromaticity = "aromatic"
        molecular_weight = 181.2
        
    elif code == "N":
        
        full_name = "Asparagine"
        three_letter_code = "Asn"
        one_letter_code = "N"
        s_no = "14"
        side_chain = "unchargedpolar"
        overall = "POLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 132.1
         
    elif code == "Q":
        
        full_name = "Glutamine"
        three_letter_code = "Gln"
        one_letter_code = "Q"
        s_no = "15"
        side_chain = "unchargedpolar"
        overall = "POLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 146.2
    
    elif code == "K":
        
        full_name = "Lysine"
        three_letter_code = "Lys"
        one_letter_code = "K"
        s_no = "16"
        side_chain = "positive"
        overall = "POLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 146.2
    
    elif code == "R":
        
        full_name = "Arginine"
        three_letter_code = "Arg"
        one_letter_code = "R"
        s_no = "17"
        side_chain = "positive"
        overall = "POLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 174.2
    
    elif code == "H":
        
        full_name = "Histidine"
        three_letter_code = "His"
        one_letter_code = "H"
        s_no = "18"
        side_chain = "positive"
        overall = "POLAR AMINO ACIDS"
        aromaticity = "aromatic"
        molecular_weight = 155.2
    
    elif code == "D":
        
        full_name = "Aspartic Acid"
        three_letter_code = "Asp"
        one_letter_code = "D"
        s_no = "19"
        side_chain = "negative"
        overall = "POLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 133.1
    
    elif code == "E":
        
        full_name = "Glutamic Acid"
        three_letter_code = "Glu"
        one_letter_code = "E"
        s_no = "20"
        side_chain = "negative"
        overall = "POLAR AMINO ACIDS"
        aromaticity = "nonaromatic"
        molecular_weight = 147.1
        
    des = (
        f'Number: {s_no}\n'
        f'Name: {full_name}\n'
        f'Three letter code: {three_letter_code}\n'
        f'One letter code: {one_letter_code}\n'
        f'side chain property: {side_chain}\n'
        f'Overall: {overall}\n'
        f'Aromaticity: {aromaticity}\n'
        f'M.W (g/mol) : {molecular_weight}'
            
        )
#     print(des)
    
    return (full_name, three_letter_code, one_letter_code, s_no, side_chain, overall, aromaticity, molecular_weight)


def get_short_name(code):
    my_list = []
    my_list = get_details(code)
    return my_list[1]

def get_side_chain(code):
    my_list = []
    my_list = get_details(code)
    return my_list[4]

def get_aromaticity(code):
    my_list = []
    my_list = get_details(code)
    return my_list[6]

def get_molecular_weight(code):
    my_list = []
    my_list = get_details(code)
    return my_list[7]

In [43]:
get_details('S')

('Serine',
 'Ser',
 'S',
 '11',
 'unchargedpolar',
 'POLAR AMINO ACIDS',
 'nonaromatic',
 105.1)

In [44]:
get_short_name('S')

'Ser'

In [45]:
get_side_chain('S')

'unchargedpolar'

In [46]:
get_aromaticity('S')

'nonaromatic'

In [47]:
get_molecular_weight('S')

105.1

In [3]:
def get_seq_details(seq):
    
    df = pd.DataFrame(columns = ['position', 'code', 'short_name', 'polarity', 
                                   'aromaticity', 'molecular_weight'])
    
#     df
    
    for i in range(len(seq)): 
        
#         print(i+1, seq[i], get_short_name(seq[i]),
#               get_side_chain(seq[i]), get_aromaticity(seq[i]), 
#               get_molecular_weight(seq[i])
#              )
        
        a = {'position' : i+1, 
             'code' : seq[i],
             'short_name' : get_short_name(seq[i]), 
             'polarity' : get_side_chain(seq[i]),
             'aromaticity' : get_aromaticity(seq[i]), 
             'molecular_weight' : get_molecular_weight(seq[i])
        }
    
        df = df.append(a, ignore_index = True)
        
    return df

In [49]:
seq3 = "KEFVRFD"
get_seq_details(seq3)

  position code short_name  polarity  aromaticity  molecular_weight
0        1    K        Lys  positive  nonaromatic             146.2
1        2    E        Glu  negative  nonaromatic             147.1
2        3    F        Phe  nonpolar     aromatic             165.2
3        4    V        Val  nonpolar  nonaromatic             117.1
4        5    R        Arg  positive  nonaromatic             174.2
5        6    F        Phe  nonpolar     aromatic             165.2
6        7    D        Asp  negative  nonaromatic             133.1

# Q.1 Why do beta-sheet form? 

# Q.2 Why do Helix form? 
question is worth asking why helix form in the first place, what drives it is there a biological reason? efficiency in term of performing various tasks? binding site? 

# What initiates the formation of helix or beta sheets? 

# What role does amino acid residue provide in the folding of protein ? 

# Role of length of sequence ? 

# Does seq is the sole container of protein folding information? 


# Structure --> Fuction or Function --> Structure

In [35]:
# import sys
# sys.path

In [4]:
def get_seq_df(input_fasta_file_path):
    
    import pandas as pd
    seq_df = pd.DataFrame(columns = ['ID', 'seq'])
    
    import Bio 
    from Bio import SeqIO
    for seq_record in SeqIO.parse(input_fasta_file_path, "fasta"):
        
        ID = seq_record.id.split('|')[1]
        seq = seq_record.seq
        seq_dict = {
            'ID' : ID, 
            'seq': seq  
        }
        
        seq_df = seq_df.append(seq_dict, ignore_index = True)
        
    return seq_df

In [8]:
# seq_df = get_seq_df('ten_protein_seq.fasta')
# seq_df 

seq_df = get_seq_df('all_uniprot_seq_homo_sapiens.fasta')
seq_df

           ID                                                seq
0      Q9NQ94  (M, E, S, N, H, K, S, G, D, G, L, S, G, T, Q, ...
1      A8K2U0  (M, W, A, Q, L, L, L, G, M, L, A, L, S, P, A, ...
2      O15254  (M, A, S, T, V, E, G, G, D, T, A, L, L, P, E, ...
3      P86434  (M, E, Q, D, W, Q, P, G, E, E, V, T, P, G, P, ...
4      P05408  (M, V, S, R, M, V, S, T, M, L, S, G, L, L, F, ...
...       ...                                                ...
20363  Q6ZTK2  (M, G, W, S, D, L, Q, P, A, M, G, G, E, A, E, ...
20364  Q92536  (M, E, A, R, E, P, G, R, P, T, P, T, Y, H, L, ...
20365  Q6UXR6  (M, Q, C, W, Q, Q, P, F, L, R, F, L, Q, Q, P, ...
20366  Q9UF83  (M, R, R, P, S, T, A, S, L, T, R, T, P, S, R, ...
20367  P31629  (M, D, T, G, D, T, A, L, G, Q, K, A, T, S, R, ...

[20368 rows x 2 columns]

In [52]:
# seq_df.to_csv('seq_df.csv')

In [6]:
def get_protein_details(seq_df):
    
    df = pd.DataFrame(columns = ['ID', 'nonpolar', 'polar', 'positive', 'negative', 'unchargedpolar', 
                                 'G', 'A', 'V', 'C', 'P', 'L', 'I', 'M', 'W', 'F',
                                 'S', 'T', 'Y', 'N', 'Q',
                                 'K','R','H', 
                                 'D', 'E',
                                 'sum_all', 'aromatic', 'nonaromatic'
                                ])
    
    for i in range(seq_df.shape[0]):
        
        ID = seq_df['ID'][i]
        seq = seq_df['seq'][i]

        seq_details_df = get_seq_details(seq)

        nonpolar = (seq_details_df.polarity == 'nonpolar').sum()/seq_details_df.shape[0] * 100
        polar = ((seq_details_df.polarity == 'positive')| (seq_details_df.polarity == 'negative') | (seq_details_df.polarity == 'unchargedpolar')).sum()/seq_details_df.shape[0] * 100
        positive = (seq_details_df.polarity == 'positive').sum()/seq_details_df.shape[0] * 100
        negative = (seq_details_df.polarity == 'negative').sum()/seq_details_df.shape[0] * 100
        unchargedpolar = (seq_details_df.polarity == 'unchargedpolar').sum()/seq_details_df.shape[0] * 100

        G = (seq_details_df.code == 'G').sum()/seq_details_df.shape[0]*100
        A = (seq_details_df.code == 'A').sum()/seq_details_df.shape[0]*100
        V = (seq_details_df.code == 'V').sum()/seq_details_df.shape[0]*100
        C = (seq_details_df.code == 'C').sum()/seq_details_df.shape[0]*100
        P = (seq_details_df.code == 'P').sum()/seq_details_df.shape[0]*100
        L = (seq_details_df.code == 'L').sum()/seq_details_df.shape[0]*100
        I = (seq_details_df.code == 'I').sum()/seq_details_df.shape[0]*100
        M = (seq_details_df.code == 'M').sum()/seq_details_df.shape[0]*100
        W = (seq_details_df.code == 'W').sum()/seq_details_df.shape[0]*100
        F = (seq_details_df.code == 'F').sum()/seq_details_df.shape[0]*100
        S = (seq_details_df.code == 'S').sum()/seq_details_df.shape[0]*100
        T = (seq_details_df.code == 'T').sum()/seq_details_df.shape[0]*100
        Y = (seq_details_df.code == 'Y').sum()/seq_details_df.shape[0]*100
        N = (seq_details_df.code == 'N').sum()/seq_details_df.shape[0]*100
        Q = (seq_details_df.code == 'Q').sum()/seq_details_df.shape[0]*100
        K = (seq_details_df.code == 'K').sum()/seq_details_df.shape[0]*100
        R = (seq_details_df.code == 'R').sum()/seq_details_df.shape[0]*100
        H = (seq_details_df.code == 'H').sum()/seq_details_df.shape[0]*100
        D = (seq_details_df.code == 'D').sum()/seq_details_df.shape[0]*100
        E = (seq_details_df.code == 'E').sum()/seq_details_df.shape[0]*100

        sum_all = (G + A + V + C + P + L + I + M + W + F +
                   S + T + Y + N + Q +
                   K + R + H +
                   D + E)
        
        aromatic = W + F + Y + H 
        nonaromatic = sum_all - aromatic

        all_dict = {
            'ID' : ID,
            'nonpolar': nonpolar,
            'polar' : polar,
            'positive' : positive, 
            'negative' : negative, 
            'unchargedpolar' : unchargedpolar,
            'G' : G, 'A' : A, 'V' : V, 'C' : C, 'P' : P, 'L' : L, 'I' : I, 'M' : M, 'W' : W, 
            'F' : F, 'S' : S, 'T' : T, 'Y' : Y, 'N' : N, 'Q' : Q,
            'K' : K, 'R' : R, 'H' : H, 'D' : D, 'E' : E,
            'sum_all': sum_all, 
            'aromatic' : aromatic,
            'nonaromatic' : nonaromatic
        }

        df = df.append(all_dict, ignore_index = True)
        
    return df

In [11]:
seq_df_1 = seq_df.iloc[0:100, : ]
seq_df_1

        ID                                                seq
0   Q9NQ94  (M, E, S, N, H, K, S, G, D, G, L, S, G, T, Q, ...
1   A8K2U0  (M, W, A, Q, L, L, L, G, M, L, A, L, S, P, A, ...
2   O15254  (M, A, S, T, V, E, G, G, D, T, A, L, L, P, E, ...
3   P86434  (M, E, Q, D, W, Q, P, G, E, E, V, T, P, G, P, ...
4   P05408  (M, V, S, R, M, V, S, T, M, L, S, G, L, L, F, ...
..     ...                                                ...
95  O75689  (M, A, K, E, R, R, R, A, V, L, E, L, L, Q, R, ...
96  Q5JTC6  (M, E, T, Q, K, D, E, A, A, Q, A, K, G, A, A, ...
97  Q9H0P7  (M, A, D, T, Q, C, C, P, P, P, C, E, F, I, S, ...
98  Q9BZ11  (M, G, W, R, P, R, R, A, R, G, T, P, L, L, L, ...
99  Q9ULJ7  (M, T, N, P, W, E, E, K, V, C, K, M, A, Q, T, ...

[100 rows x 2 columns]

In [12]:
all_protein = get_protein_details(seq_df_1)   
all_protein

,ID,nonpolar,polar,positive,negative,unchargedpolar,G,A,V,C,...,N,Q,K,R,H,D,E,sum_all,aromatic,nonaromatic
0,Q9NQ94,52.861953,47.138047,12.962963,10.774411,23.400673,9.427609,10.101010,6.902357,0.841751,...,4.040404,3.872054,6.228956,5.387205,1.346801,4.377104,6.397306,100.0,10.437710,89.562290
1,A8K2U0,50.618982,49.381018,9.903714,10.110041,29.367263,6.671252,6.258597,7.840440,1.719395,...,4.126547,5.639615,5.364512,2.888583,1.650619,4.539202,5.570839,100.0,11.691884,88.308116
2,O15254,54.571429,45.428571,13.285714,10.857143,21.285714,7.142857,9.428571,6.714286,1.857143,...,2.571429,3.857143,4.714286,5.857143,2.714286,5.000000,5.857143,100.0,12.428571,87.571429
3,P86434,54.716981,45.283019,10.691824,8.805031,25.786164,10.062893,8.176101,3.773585,5.031447,...,3.144654,5.660377,3.144654,4.402516,3.144654,2.515723,6.289308,100.0,11.320755,88.679245
4,P05408,50.471698,49.528302,14.622642,14.150943,20.754717,8.962264,5.660377,5.660377,0.943396,...,4.245283,4.716981,5.188679,5.660377,3.773585,7.075472,7.075472,100.0,11.792453,88.207547
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,O75689,48.663102,51.336898,18.716578,12.834225,19.786096,6.417112,8.823529,5.080214,1.604278,...,2.941176,4.278075,6.951872,8.288770,3.475936,5.347594,7.486631,100.0,16.310160,83.689840
96,Q5JTC6,46.167401,53.832599,12.246696,16.651982,24.933921,7.841410,8.458150,3.436123,1.762115,...,2.290749,4.405286,4.140969,5.638767,2.466960,5.198238,11.453744,100.0,8.986784,91.013216
97,Q9H0P7,59.595960,40.404040,10.101010,8.080808,22.222222,10.101010,9.595960,4.040404,6.565657,...,2.020202,2.525253,2.525253,3.535354,4.040404,6.060606,2.020202,100.0,12.121212,87.878788
98,Q9BZ11,58.794588,41.205412,13.038130,9.471095,18.696187,10.947109,8.364084,5.166052,6.150062,...,2.337023,4.920049,1.845018,6.642066,4.551046,4.920049,4.551046,100.0,10.455105,89.544895
99,Q9ULJ7,49.755073,50.244927,13.156053,11.056683,26.032190,7.347796,9.167250,6.438069,2.379286,...,4.688593,5.878237,4.688593,4.618614,3.848845,5.108467,5.948216,100.0,9.097271,90.902729

In [13]:
# all_protein.to_csv('all_Protein_0_99.csv')

In [55]:
all_protein[['C','W', 'Y', 'H', 'F']]

          C         W         Y         H         F
0  0.841751  0.673401  5.218855  1.346801  3.198653
1  1.719395  1.169188  4.264099  1.650619  4.607978
2  1.857143  1.285714  3.285714  2.714286  5.142857
3  5.031447  5.031447  1.257862  3.144654  1.886792
4  0.943396  1.415094  2.830189  3.773585  3.773585
5  3.144654  1.572327  5.031447  1.886792  6.603774
6  1.049869  2.099738  2.099738  3.412073  1.837270
7  4.363002  2.268761  1.919721  2.268761  2.617801
8  3.535354  3.030303  5.555556  2.525253  7.070707
9  0.387597  0.645995  1.033592  1.162791  2.842377

In [15]:
all_protein[['nonpolar', 'polar']]

     nonpolar      polar
0   52.861953  47.138047
1   50.618982  49.381018
2   54.571429  45.428571
3   54.716981  45.283019
4   50.471698  49.528302
..        ...        ...
95  48.663102  51.336898
96  46.167401  53.832599
97  59.595960  40.404040
98  58.794588  41.205412
99  49.755073  50.244927

[100 rows x 2 columns]

In [14]:
# all_protein.describe().iloc[:, 5:25]
all_protein.describe()

,nonpolar,polar,positive,negative,unchargedpolar,G,A,V,C,P,...,N,Q,K,R,H,D,E,sum_all,aromatic,nonaromatic
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,1.000000e+02,100.000000,100.000000
mean,50.282019,49.717981,14.223723,11.642154,23.852104,6.967468,7.344285,5.904010,2.213350,6.107286,...,3.500991,4.713031,5.616413,6.165725,2.441585,4.601048,7.041106,1.000000e+02,10.033299,89.966701
std,6.356344,6.356344,3.315741,3.548268,4.453651,3.562355,2.634950,1.647391,1.510663,2.887040,...,1.471704,1.784591,2.621941,2.163492,1.061549,1.585222,2.734465,1.301193e-14,3.236433,3.236433
min,36.370426,32.624113,7.446809,4.402516,10.843373,1.834862,2.413793,1.612903,0.000000,1.005025,...,0.000000,0.641026,0.000000,2.888583,0.000000,1.418440,2.020202,1.000000e+02,2.409639,79.026217
25%,45.323237,45.770526,12.034092,9.428943,21.274020,4.590738,5.666106,4.734760,1.096267,4.311594,...,2.387138,3.643553,3.997466,4.752608,1.673650,3.738313,5.394590,1.000000e+02,7.852663,88.191406
50%,50.270385,49.729615,14.241623,11.508746,24.069123,6.654210,7.007208,5.839777,1.790148,5.640731,...,3.352405,4.644283,5.171659,5.790831,2.393617,4.538362,6.409662,1.000000e+02,9.916462,90.083538
75%,54.229474,54.676763,16.096593,14.097450,26.253106,8.419522,8.797331,6.980767,3.002497,7.518939,...,4.501440,5.592591,7.003978,7.142857,3.089908,5.515768,8.069861,1.000000e+02,11.808594,92.147337
max,67.375887,63.629574,25.903614,24.698795,36.883117,26.817879,18.589744,11.009174,7.780980,18.012008,...,7.216495,11.111111,13.855422,13.440860,6.301370,9.012876,17.469880,1.000000e+02,20.973783,97.590361